.navbar {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.proposal-container {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    margin: 0;
    /* 가로축 중앙 정렬 */
    align-items: center;
    /* 세로축 중앙 정렬 */
    justify-content: center;
}


.menu {
    display: flex;
    margin-left: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.item {
    margin-left: 60px;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.2);
}


.btn {
    margin-left: 100px;
    width: 100px;
}

/* propsal */
.proposal {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.round {
    margin-right: 60px;
}

.date {
    display: flex;
    text-align: center;
    align-items: center;
}

.board {
    width: 300px;
    /* 박스의 너비 */
    height: 500px;
    /* 박스의 높이 */
    background-color: #e17055;
    /* 박스의 배경색 */
    border: 3px solid #ccc;
    /* 박스의 테두리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 박스에 그림자 추가 */
    padding: 20px;
    /* 내용과 박스 경계 사이의 여백 */
    margin: 20px;
    /* 박스 주변의 여백 */
    display: grid;
    /* Flexbox를 사용하여 내용을 가운데 정렬 */
    grid-template-rows: 1fr 5fr 1fr;
}

.project-img {
    width: 80%;
    height: 50%;
}

.board-header {
    text-align: center;
}

.board-body {
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-input {
    margin-right: 20px;
}

.board-footer {
    margin-top: 20px;
}

.add-proposal {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* 원하는 높이 설정 */
}

.add-content {
    font-size: 48px;
    /* "+" 문자의 크기 설정 */
}