ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #f39d8b;
    padding: 20px;
    align-items: center;
    margin:0;

}

ul li a{
    margin-left: 60px;
    text-decoration: none;
    color: #221d1d;
    padding: 20px;
    font-weight: bold;
}

ul li a:hover{
    color: #ff6038;
}

