.proposal-button {
    padding: 10px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.proposal-button:hover {
    background-color: #c83f1d; /* 호버 시 배경색 변경 */
}

.proposal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.add-content {
    padding: 10px 40px;
    font-size: 20px;
    /* "+" 문자의 크기 설정 */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.proposal-container {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    margin: 0;
    /* 가로축 중앙 정렬 */
    align-items: center;
    /* 세로축 중앙 정렬 */
    justify-content: center;
}
